/* Fuentes */
@font-face {
    src: local("Poppins"), url(../fonts/Poppins-Regular.ttf);
    font-family: "Poppins";
}
@font-face {
    src: local("Poppins-Italic"), url(../fonts/Poppins-Italic.ttf);
    font-family: "Poppins-Italic";
}
@font-face {
    src: local("Poppins-Medium"), url(../fonts/Poppins-Medium.ttf);
    font-family: "Poppins-Medium";
}
@font-face {
    src: local("Poppins-Bold"), url(../fonts/Poppins-Bold.ttf);
    font-family: "Poppins-Bold";
}
@font-face {
    src: local("Poppins-Light"), url(../fonts/Poppins-Light.ttf);
    font-family: "Poppins-Light";
}
@font-face {
    src: local("Poppins-LightItalic"), url(../fonts/Poppins-LightItalic.ttf);
    font-family: "Poppins-LightItalic";
}

body {
    font-family: "Poppins";
    color: #444444;
}